.sectionWrapper {
  display: flex;
  align-items: stretch;
  gap: 24px;
  margin-bottom: 88px;
}
.sectionTextWrapper {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.infoWrapper,
.detailWrapper {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
  padding: 24px;
  background-color: var(--inputs);
  height: min-content;
  border-radius: 16px;
}

.ratingWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 16px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  margin-bottom: 16px;
}
.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
}
.rating {
  font-weight: 400;
}
.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  flex-shrink: 0;
  fill: currentColor;
  margin-right: 4px;
}
.iconLocal {
  width: 16px;
  height: 16px;
  display: inline-block;
  flex-shrink: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-right: 4px;
}

.totalReviews {
  font-weight: 400;
  margin-right: 16px;
}
.location {
  font-weight: 400;
}
.description {
  color: var(--text);
  margin-top: 24px;
}

.categoryTech {
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  padding: 12px 18px;
  border-radius: 999px;
  background: var(--badges);
  mix-blend-mode: multiply;
  white-space: nowrap;
}
.techWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.techWrapper::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 1px;
  background-color: var(--gray-light);
}
.tableWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
}

.detailRow {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.detailRow dt,
.detailRow dd {
  margin: 0;
}

.detailRow dd {
  text-align: right;
}
.qualityWrapper {
  text-align: right;
}
.review_bookingWrapper {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
